#speakerslist { font-size:15px; }
#speakerslist ul { list-style: none; margin: 0; padding: 0;}
#speakerslist ul li {list-style: none; }
#speakerslist ul li p { display:block; text-decoration:none; color:#000000; background-color:#FFFFFF; line-height:30px;
    border-bottom-style:solid; border-bottom-width:1px; border-bottom-color:#CCCCCC; padding-left:10px; }
#speakerslist ul li a strong { margin-right:10px; }


.thumbnail {
    border: 3px solid;
    border-color: #d9d9d9;
    width: 64px;
    height: 64px;
}

.restaurant_thumbnail {
    border: 3px solid;
    border-color: #d9d9d9;
    width: 96px;
    height: 96px;
}

/*.tweetrow {*/
    /*float: left;*/
/*}*/

.left {
    width: 80px;
    float: left;
}

.right {
    width: auto;
    float:none;
    overflow: hidden;
}

.rest_left {
    width: 120px;
    float: left;
}

.rest_right {
    width: auto;
    float:none;
    overflow: hidden;
}

.tweet-right div {
    float: left;
}

.timestamp {
    font-size: 10px;
    margin-top: 5px !important;
    float:right;
}

.weather {
    text-align: center;
}

.forecast {
    font-size: 26px;
}

span.temp {
    font-size: 16px;
    color: #222;
}

span.feelslike {
    font-size: 16px;
    color: #222;
}

.observation_time {
    margin-top: 20px;
    font-size: 11px;
}

.humidity {
    color: #111111;
}

.centered {
    padding-top: 2em;
    text-align: center;
}

.Plenary_label {
    color: #0a820a !important;
}

.General_label {
    color: #BB0000 !important;
}

.Alma_label {
    color: #2D4C78 !important;
}

.Primo_label {
    color: #FA7A42 !important;
}

.Aleph_label {
    color: #FFBD4D !important;
}

.Rosetta_label {
    color: #EC242A !important;
}

.SFX_label {
    color: #AB0020 !important;
}

.DigiTool_label {
    color: #68CAE2 !important;
}

.MetaLib_label {
    color: #005FA2 !important;
}

.Other_label {
    color: #AA40FF !important;
}

.sess_title {
    font-size: 1.7em !important;
    margin-bottom: 0.7em !important;
}


.moderator {
    font-size: 1em;
    line-height: 1;
    margin-bottom: 1.00em;
    font-weight: bold;
}

.date_right {
    float: right;
}

.x-slider-field-extended .x-component-outer {
    padding: 0.5em;
}

.x-slider-field-extended .x-slider-helper {
    width: 15%;
}

.x-slider-field-extended .x-slider-helper .x-slider-helper-input {
    width: 100%;
    margin: 0;
    padding: 0.1em 0.3em;
    height: 2.2em;
    border: 1px solid #CCC;
}

.x-slider, .x-toggle {
    width: 80%;
}

* {
    margin: 0;
    padding: 0;
    -webkit-user-select:html;
    -khtml-user-select:html;
    -moz-user-select:html;
    -ms-user-select:html;
    user-select:html;
}

.x-list .x-list-item.x-item-pressed.x-list-item-tpl, .x-list .x-list-item.x-item-pressed .x-dock-horizontal {
    background-color: #999999;
}

/*.x-list {*/
    /*-webkit-transform:translate3d(0,0,0);*/
/*}*/
/**/
/*.x-panel {*/
    /*-webkit-backface-visibility: hidden;*/
/*}*/

.weather_string {
    margin-top: 30px;
}

.x-html h3 {
    margin-top: 5px;
}